/*
    Style the menu
*/
ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    float: left;
    width: 8em;
    color: black;
    background-color: rgba(255,255,255,0.5);
    padding: 0.2em 0.6em;
}

a:hover {
    background-color: #CCCCCC;
}

a{
    display: inline;
	text-decoration: none;
	color: black;
}